body {
    background: linear-gradient(to right, #31b1ff 0%,#573dff 100%);
}


#game-board {
    position: relative;
    border: 2px solid white;
    margin: 0 auto;
}

.block {
    position: absolute;
    border: 1px solid #fdfdfd;
    width: 20px;
    height: 20px;
}

.block-type-red {
    background: #d63031;
}

.block-type-blue {
    background: #00b894;
}

#game-score {
    font-family: Arial, sans-serif;
    text-align: center;
    line-height: 40px;
    position: relative;
    top: 0px;
    z-index: 2;
    font-size: 10px;
    background: white;
    margin: 0 auto -5px;
    width: 200px;
    height: 40px;
    border: 2px solid white;
}

